{
    items: [
        {
            wiki: null,
            address_id: null,
            name: "윤택중",
            twitter: null,
            gender: "m",
            image: null,
            name_cn: "尹宅重",
            blog: null,
            birthday: "1910-01-01",
            facebook: null,
            address: null,
            name_en: "Yoon Taeg-jung",
            education: "동경중앙대학교",
            homepage: null,
            id: 19101117,
            education_id: [null]
        },
        ...
    ],
    kind: "gov#people",
    next_page: 2
}
