<h2 id="batch">Batch downloads</h2>
<p>아래의 데이터는 한번에 편리하게 다운 받을 수 있습니다.</p>
<ul>
    <li><a href="https://github.com/teampopong/data-assembly">현직 국회의원 데이터</a>: 매일 한 번 자동으로 데이터가 업데이트 됩니다. 버젼관리가 되고 있기 때문에 국회에서 어떤 변화가 있는지 관찰할 수 있습니다.
    <li><a href="https://github.com/teampopong/data-election">선거 데이터</a>: 선거 관련 데이터입니다.
    <li><a href="https://github.com/teampopong/data-for-rnd">R&D용 데이터</a>: 앞서 나열된 데이터 외에 공약, 정당 이동 등 다양한 데이터가 있습니다.
</ul>
<p>추가적인 문의사항이 있는 경우 <a href="mailto:contact@popong.com">이메일</a>을 보내주시기 바랍니다.</p>
