<div class="container">
  {% set home = '' if request.endpoint == 'home' else url_for('home') %}
  <a href="http://popong.com" style="padding: 0;"><img class="logo" style="display: none;" src="{{ url_for('static', filename='images/popong-logo.png') }}"></a>
  <ul id="menu" class="nav navbar-nav navbar-right">
    <li class="hidden-xs"><a href="{{ home }}/#">Home</a>
    <li class="hidden-xs"><a href="{{ home }}/#showcase">Showcase</a>
    <li class="hidden-xs"><a href="{{ home }}/#api">API</a>
    <li class="hidden-xs"><a href="{{ home }}/#batch">Batch data</a>
  </ul>
</div>
