<h1><b>POODL</b></h1>
<span style="font-size: 20pt;">(POpong Open Data Library)</span>

<div style="margin: 30px 0;">
    <p>
    현재 국회 홈페이지는 매일 새로 발의되는 의안 데이터를 수집하기 힘든 구조로 되어 있습니다.
    한 번에 처리되는 의안의 양도 많아서 사람이 일일이 다운로드 받고 분석하기에 번거롭습니다.
    또한, 의원 및 후보자 데이터에는 고유 식별자(ID)가 부여되어 있지 않아 동명이인 등을 처리하는데 어려움이 많습니다.
    따라서 정치 데이터를 이용하여 연구 및 개발을 하려는 경우, 실제로 연구개발에 투입되는 시간 만큼, 혹은 그 이상으로 데이터를 준비하는데 많은 시간과 비용이 들고 있습니다.
    </p>
    <p>
    그래서 저희는, 매일 <a href="http://popong.com/sources">선관위와 국회 등 국가 공식 홈페이지</a>에 업데이트 되는 정보를 수집하는 <a href="https://github.com/teampopong/crawlers">자동화 툴</a>을 만들었습니다.
    수집한 데이터는 객체마다 고유 ID를 부여하고 객체 간 유기적으로 연결하는 등 연구자 및 개발자의 편의를 위한 전처리 과정을 거친 후 데이터베이스에 저장하였습니다.
    </p>
    <p>
    저희는 이 데이터가 더 많은 시민들의 손에서 다루어질 때 가장 유용하게 쓰일 수 있고 빛이 날 것이라고 생각합니다.
    입법 데이터는 본디 시민의 것이기 때문입니다.
    이에, 연구 및 개발을 위한 데이터를 배포하니 많이 이용해주시기 바랍니다.
    </p>
</div>
<div class="alert alert-info">
    <b>알립니다!</b>
    <ul>
        <li>비영리, 사회 기여, 연구, 개인적 용도의 목적의 사용을 장려합니다. 사용시 어려운 점이 있으면 <a href="mailto:contact@popong.com">문의</a>해주세요.
        <li>지금은 별도의 API key 발급 없이 "test"를 사용하시면 됩니다. API key는 차후 등록하도록 요청될 수 있습니다.
    </ul>
</div>
