<h2 id="showcase">Showcase</h2>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div id="pokr" class="item active" >
            <img src="{{ url_for('static', filename='images/pokr.png') }}">
            <h2>대한민국 정치의 모든 것</h2>
            <div class="carousel-caption">
              <h3>대한민국 역대 국회의원, 의안, 회의록 데이터베이스</h3>
              <p><a href="http://pokr.kr">바로가기</a></p>
            </div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/isee.png') }}">
            <h2>지켜본다</h2>
            <div class="carousel-caption">
              <h3>당신이 뽑은 정치인, 그 공약 잘 지키고 있는지 지켜보자!</h3>
              <p><a href="https://play.google.com/store/apps/details?id=org.sicamp.isee">바로가기</a></p>
            </div>
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/feedback7.png') }}">
            <h2>피드백7</h2>
            <div class="carousel-caption">
              <h3>대통령, 장관, 국회의원 등이 투자 및 베팅의 대상이 되는 게임</h3>
              <p><a href="http://www.feedback7.com/">바로가기</a></p>
            </div>
        </div>
        <div class="item">
            <img class="phone-img" src="{{ url_for('static', filename='images/watchbly.png') }}">
            <h2>Watchbly</h2>
            <div class="carousel-caption">
              <h3>국회의원 성적표, 토론, 청원, 프로필 등 다양한 기능의 서비스!</h3>
              <p><a href="https://play.google.com/store/apps/details?id=kr.applepi.watchassembly">바로가기</a></p>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
